@import "fonts.css";

.main-flex {
  font-family: Glacial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  height: 100vh;
}

body {
  background-image: url("../images/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-flex {
  display: flex;
  justify-content: space-evenly;
  flex: 2 1 100%;
}

.right-flex {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 30%;
}

.body-nav-container {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #21201f;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 0.2);
  width: 35%;
  height: 300px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

h1 {
  font-weight: normal;
  font-style: italic;
  color: #727271;
  font-size: 50px;
}

h2 {
  color: #938ba1;
  font-size: 28px;
}

hr {
  border-color: #ef6817;
  width: 250px;
  justify-content: left;
  align-items: left;
}
