@import "fonts.css";

* {
  font-family: "Glacial", sans-serif;
}

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: #727271;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 90%;
  height: 100vh;
  padding-left: 10px;
  transform: translateX(0);
  box-shadow: 0px 0px 5px #21201f;
  animation: slide-in 0.5s ease-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.box-line {
  border: 5px solid red;
}

.header-styling {
  color: #a0a0a0;
  font-size: 25px;
  align-self: center;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  letter-spacing: 0.1em;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
}

.form-setup {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type="text"],
select {
  background-color: #a0a0a0;
  font-family: Glacial, sans-serif;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
  border: none;
  box-shadow: 0 0 2px #5f605d;
  height: 20px;
}

textarea[type="text"],
select {
  background-color: #a0a0a0;
  padding: 10px;
  margin: 10px;
  border: none;
  box-shadow: 0 0 2px #5f605d;
  height: 100px;
}

button[type="submit"],
select {
  font-family: "Glacial", sans-serif;
  align-self: center;
  padding: 5px 15px;
  background: #ef6817;
  border: 0 none;
  cursor: pointer;
  box-shadow: 0 0 2px #5f605d;
  height: 30px;
  width: 25%;
}

button:hover {
  height: 35px;
  width: 26%;
  box-shadow: 0 0 4px #ffffff;
  animation: btn-sub 0.3s ease-in;
}

@keyframes btn-sub {
  0% {
    height: 30px;
    width: 25%;
    box-shadow: 0 0 2px #5f605d;
  }
  100% {
    height: 35px;
    width: 26%;
    box-shadow: 0 0 4px #ffffff;
  }
}

textarea:focus {
  outline: 1px solid #ef6817;
  border: 1px;
  box-shadow: 0 0 4px #ffffff;
  height: 120px;
  transition: height 0.2s ease-in;
}

input:focus {
  outline: 1px solid #ef6817;
  border: 1px;
  box-shadow: 0 0 4px #ffffff;
  height: 30px;
  transition: height 0.2s ease-in;
}

/* Responsiveness */

@media only screen and (max-width: 900px) {
  .form-container {
    height: 75%;
  }
}
