@import "./fonts.css";

.hidden {
  display: none;
  order: 3;
}

.intro-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  flex: 1 1 90%;
  height: 100vh;
  padding-left: 10px;
}

.intro-small {
  font-family: Glacial, sans-serif;
  font-style: italic;
  color: #e0dede;
  font-size: 30px;
  padding-top: 25px;
  margin: 0;
  letter-spacing: 0em;
}

.intro-name {
  font-family: Glacial, sans-serif;
  font-style: bold;
  color: #e0dede;
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-shadow: 1px 0 0px #868585;
  letter-spacing: 4px;
}

.skills-styling {
  color: #21201f;
  letter-spacing: 1px;
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .intro-container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  .skills-styling {
    color: #21201f;
  }
}
