.hidden {
  display: none;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  background-color: #727271;
  height: 100vh;
  flex: 1 1 35%;
  align-items: baseline;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 5px #21201f;
  transform: translateX(0);
  animation: slide-in 0.5s ease-in;
  overflow-y: auto;
  overflow-x: auto;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.header-styling {
  color: #a0a0a0;
  font-size: 25px;
  align-self: center;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  letter-spacing: 0.1em;
}

.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-styling {
  display: flex;
  font-family: "Glacial", sans-serif;
  width: 100%;
  font-size: 20px;
  border-bottom: 2px solid #ef6817;
  padding: 10px 0px 10px 0px;
  margin: auto;
  justify-content: center;
}

/* Card Styling */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  background-color: #a0a0a0;
  box-shadow: 0 0 2px #5f605d;
}

.images {
  width: 100%;
  box-shadow: 0 0 2px #5f605d;
}

.links-cards {
  display: flex;
  width: 100%;
  border-top: 2px solid #ef6817;
  justify-content: space-between;
}

.skills-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

li {
  font-family: "Glacial", sans-serif;
  list-style: none;
  padding: 0;
  margin: 3px;
}

/* .hr-cards {
  border-color: #ef6817;
  width: 100%;
} */
